<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.wouterhabets.android.bcinfo"
    android:versionCode="2"
    android:versionName="alpha 2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity android:name="ActivityMain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ActivityAbout" >
            <intent-filter>
                <action android:name="tk.wouterhabets.android.bcinfo.ACTIVITYABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="PreferencesMain" >
            <intent-filter>
                <action android:name="tk.wouterhabets.android.bcinfo.PREFERENCESMAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>